.color-card {
  width: 150px;
  height: 200px;
  display: flex;
  align-items: flex-end;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.color-info {
  width: 100%;
  background-color: white;
  padding: 10px;
  text-align: center;
}

.color-code {
  font-size: 14px;
  font-weight: bold;
}

.color-name {
  font-size: 12px;
  color: grey;
  text-transform: uppercase;
  margin-top: 5px;
}

.color-card:hover{
  cursor: pointer;
}